
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  
}

body{
  font-size: 1.6rem;
}

p{
  padding: 1.5rem;
}

.scroll-progress{
  position: fixed;
  width: 100%;
  height: 0.7rem;
  background-color: lightgray;
}

.scroll-bar{
  width: 0;
  height: inherit;
  background-color: rgb(35, 140, 175);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
